@tailwind base;
@tailwind components;
@tailwind utilities;

#modal {
  color: white;
}

#modal input {
  color: black;
}

#modal-content input[type='text'] {
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
}

#modal input:last-of-type {
  width: max-content;
  transform: scale(1.5);
  margin-left: 6px;
}

#modal label {
  margin-top: 1rem;
}

#modal label + input {
  margin-top: 0.5rem;
}

button {
  display: block;
  border-radius: 0.5rem;
}

body {
  grid-template-rows: max-content 1fr;
}

#main {
  grid-template-columns: repeat(auto-fit, minmax(300px, 20%));
  grid-auto-rows: 200px;
  gap: 10px;
}
