@tailwind base;
@tailwind components;
@tailwind utilities;

#modal {
  color: white;
}

#modal-content input[type='text'] {
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
}

button {
  display: block;
  border-radius: 0.5rem;
  border-width: 2px;
}

body {
  grid-template-rows: max-content 1fr;
}
