.button {
    cursor: pointer;
}

.close-btn {
    position: relative;
    right: -7px;
    top: -7px;
    width: 20px;
    justify-self: end;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    scale: 1.2;
    color: white;
}

.close-btn:hover {
    background-image: var(--close-btn-hover);
}

.modal-btn {
    background-image: url('./brass-button.jpg');
    border-radius: 10px;
    border: none;
    background-size: 100%;
    box-shadow: 5px 5px 5px var(--softBlack);
}

#bookForm .modal-btn {
    width: 150px;
    height: 35px;
}

#modal-content .close-btn {
    color: black;
    position: relative;
    top: 5px;
    right: 5px;
}

#form-buttons {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

#form-buttons .main-font {
    font-size: 1.5rem;
}

#modal-toggle-btn {
    place-self: center;
    padding: 5px 20px;
    width: 270px;
    height: 45px;
    font-size: 1.8rem;
    white-space: nowrap;
}

