
.button {
    cursor: pointer;
}

.close-btn {
    position: relative;
    right: -7px;
    top: -7px;
    width: 20px;
    justify-self: end;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    scale: 1.2;
    color: white;
}

.close-btn:hover {
    background-image: var(--close-btn-hover);
}

#modal-content .close-btn {
    position: relative;
    top: 5px;
    right: 5px;
}

#form-buttons {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#modal-toggle-btn {
    font-family: 'Gideon Roman';
    /* font-size: 1.5rem; */
    place-self: center;
    padding: 5px 20px;
    /* background: url('./gold-texture.jpg'); */
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 200px;
    height: 45px;
}

/* #modal-toggle-btn:hover {
    background-color: var(--modal-btn-hover);
} */