h1 {
    place-self: center;
    letter-spacing: 5px;
    font-size: 3rem;
}

#modal {
    position: absolute;
    inset: 0;
    grid-template-columns: 30vw max(500px, 30vw) 30vw;
    justify-content: space-between;
    background: var(--softBlack);
}

#modal-content {
    gap: 15px;
    padding-top: 30px;
    position: relative;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2;
    grid-template-rows: repeat(2, max-content) 1fr;
    background: linear-gradient(var(--gold), var(--transparent));
}

/* FORM */

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    justify-content: center;
    gap: 20px 10px;
}

.field {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/4;
    align-items: center;
}

.field label {
    font-size: 1.6rem;
    justify-self: end;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.field label:hover {
    text-shadow: 0 10px 10px var(--red);
}

input:invalid {
    accent-color: var(--red);
}