h1 {
    place-self: center;
    font-family: 'Gideon Roman';
}

#modal {
    position: absolute;
    inset: 0;
    grid-template-columns: 30vw max(500px, 30vw) 30vw;
    justify-content: space-between;
    background: var(--softBlack);
}

#modal-content {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: subgrid;
    grid-column: 2;
    grid-template-rows: repeat(2, max-content) 1fr;
    background: linear-gradient(var(--gold), var(--transparent));
}

/* FORM */

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    justify-content: center;
}

.field {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/4;
    align-items: center;
}

.field label {
    justify-self: center;
    font-size: 1.6rem;
    justify-self: end;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.field label:hover {
    text-shadow: 0 10px 10px var(--red);
}

input:invalid {
    accent-color: var(--red);
}