
:root {
    --softBlack: rgba(0,0,0,0.75);
    --goldenYellow: rgb(218, 185, 38);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* IDS */

#header {
    display: grid;
}

#modal-toggle-btn {
    place-self: center;
    padding: 5px 20px;
}

#modal {
    position: absolute;
    inset: 0;
    grid-template-columns: 30vw max(500px, 30vw) 30vw;
    justify-content: space-between;
    background: var(--softBlack);
}

#modal-content {
    position: relative;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2;
    align-content: space-around;
    grid-template-rows: repeat(6, 100px);
    background: linear-gradient(rgba(55,46,3,1),rgba(168,139,9,0.5));
    color: white;
}

#modal-close-btn {
    position: absolute;
    right: -0;
}


#form-buttons {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#main {
    display: grid;
    padding: 60px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 40px;
    justify-content: center;
}

/* CLASSES */

.field {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/4;
    align-items: center;
}

.button {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.visible {
    display: grid;
}

.card {
    position: relative;
    display: grid;
    background-color: var(--softBlack);
    color: white;
    accent-color: green;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--goldenYellow);
}

.card-btn {
    position: absolute;
    right: -0;
    width: 20px;
}

.card-btn:hover {
    background-color: red;
}

/* ELEMENTS */

body {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 140px 1fr;
    background: url(book_wizard.jpg);
}

h1 {
    place-self: center;
}

form {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2/7;
    justify-content: center;
}

.field label {
    justify-self: center;
}

.field input {
    accent-color: green;
}

[type = 'checkbox'] {
    justify-self: start;
    width: 25px;
    height: 25px;
    background-color: whitesmoke;
}