:root {
    --softBlack: rgba(0,0,0,0.75);
    --card-border: rgba(218, 185, 38, 1);
    --card-border-transp: rgba(218, 185, 38, 0);
    --invalid-input: red;
    --close-btn-hover: linear-gradient(red, black);
    --input-accent: rgb(10, 44, 10);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 140px 1fr;
    background: url(book_wizard.jpg);
}



#header {
    display: grid;
}

#main {
    display: grid;
    padding: 60px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 40px;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.visible {
    display: grid;
}

.card {
    /* position: relative; */
    display: grid;
    grid-template-rows: max-content repeat(3, 1fr) max-content;
    background-color: var(--softBlack);
    color: white;
    accent-color: var(--card-border);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--card-border);
}